<div class="container">
  <div class="row">
    <div class="col-12">
      <% @tweets.each do |tweet| %>
      <div class="tweet-back">
        <div class="tweet-image">
          <%= link_to tweet_path(tweet) do %>
            <%= attachment_image_tag tweet, :image, size: "850x400" %>
          <% end %>
        </div>
        <div>
          <%= link_to user_path(tweet.user) do %>
            <%= attachment_image_tag tweet.user, :profile_image, size: "100x100",fallback: "no_image.jpg", class: "effect" %><br>
          <% end %>
          <%= tweet.user.name %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>