<div class="container">
  <div class="row justify-content-center">
    <h2 class="timeline"><i class="fas fa-gamepad"></i> タイムライン</h2>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="tweet-back">
        <div class="tweet-image">
          <% @tweets.each do |tweet| %>
            <div class="row mb-5 tweet-shadow">
              <div class="tweet-item col-2">
                <%= link_to user_path(tweet.user) do %>
                  <%= attachment_image_tag tweet.user, :profile_image, size: "100x100",fallback: "guest-icon.jpg", class: "effect" %><br>
                <% end %>
              </div>
              <div class="tweet-item col-2">
                <i class="fas fa-user"> 名前</i>
              </div>
              <div class="tweet-item col-2">
                <i class="fas fa-medal"> ランク帯</i>
              </div>
              <div class="tweet-item col-2">
                <i class="fas fa-skull"> K/D</i>
              </div>
              <div class="tweet-created_at col-4">
                <%= tweet.created_at.strftime("%Y年%m月%d日 %H:%M") %>
              </div>
              <div class="col-2"></div>
              <div class="col-2">
                <%= tweet.user.name %>
              </div>
              <div class="col-2">
                <%= tweet.user.rank %>
              </div>
              <div class="col-2"><%= tweet.user.ratio %></div>
              <div id="favorite-<%= tweet.id %>" class="tweet-item col-2">
                <%= render 'tweets/favorites', tweet: tweet %>
              </div>
              <div class="col-2">
                <i class="far fa-comment-dots">コメント <%= tweet.tweet_comments.count %></i>
              </div>
              <div class="col-2"></div>
              <div class="col-10">
                <%= tweet.body %>
              </div>
              <div class="col-2"></div>
              <div class="col-10 mt-2">
                <div class="tags">
                  <% tweet.tags.each do |tag| %>
                    <%= link_to tag_tweets_path(tag_id: tag.id), style: "text-decoration: none;" do %>
                    <span class="tag-design"><i class="fas fa-tags fa-xs"></i> <%= tag.tag_name %></span>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-2"></div>
              <div class="col-10 mt-2">
                <%= link_to tweet_path(tweet) do %>
                  <%= attachment_image_tag tweet, :image, size: "628x400", style: "border-radius: 8px;" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-1">
      <span class="back">
        <a href="#">
          <i class="fas fa-chevron-circle-up fa-2x"></i>
        </a>
      </span>
    </div>
  </div>
</div>