<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto notification-index">
      <div class="notification-index">
        <span class="notification-font">
          <%= link_to user_path(visitor) do %>
            <%= attachment_image_tag visitor, :profile_image, size: "30x30",fallback: "guest-icon.jpg", class: "effect" %>
            <strong>
              <%= visitor.name %>
            </strong>
          <% end %>
          <span>さんが</span>
        <% case notification.action %>
        <% when 'follow' then %>
          あなたをフォローしました
        <% when 'like' then %>
          <%= link_to 'あなたの投稿', notification.tweet, style: "font-weight: bold;" %>
          <span>いいねしました</span>
        <% when 'comment' then %>
          <% if notification.tweet.user_id == visited.id %>
            <%= link_to "あなたの投稿", notification.tweet, style: "font-weight: bold;" %>
          <% else %>
            <span>
              <%= link_to tweet_path(notification.tweet) do %>
                <%= attachment_image_tag notification.tweet.user, :profile_image, size: "30x30",fallback: "guest-icon.jpg", class: "effect" %>
                <strong>
                  <%= notification.tweet.user.name + 'さんの投稿' %>
                </strong>
              <% end %>
            </span>
          <% end %>
          にコメントしました
          <p class="my-2 notification-comment"><%= TweetComment.find_by(id: notification.tweet_comment_id)&.comment %></p>
        <% end %>
        <div class="tweet-created_at">
          <%= time_ago_in_words(notification.created_at).upcase %>前
        </div>
        </span>
        <hr>
      </div>
    </div>
  </div>
</div>