<div class='container'>
  <div class='row justify-content-center'>
    <h2 class="user-edit"><%= @user.name %></h2>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="user-back col-10">
      <div class="row">
        <div class="col-10">
          <%= link_to "", tweets_path, class: "browser-back far fa-arrow-alt-circle-left", style: "text-decoration: none; color: #444444;" %>
        </div>
        <div class="col-4">
          <%= attachment_image_tag @user, :profile_image, size: "200x200",fallback: "no_image.jpg", class:"effect" %>
        </div>
        <div class="col-3 mt-5">
          <%= link_to user_followings_path(@user) do %>
            <i class="fas fa-users follow-font-color"><span class="tags">フォロー中 </span><%= @user.followings.count %><br></i>
          <% end %>
          <div class="user-name mt-5">
            <%= @user.name %>
          </div>
        </div>
        <div class="col-3 mt-5">
          <%= link_to user_followers_path(@user) do %>
            <i class="fas fa-users follow-font-color"><span class="tags">フォロワー </span><%= @user.followers.count %><br></i>
          <% end %>
          <div class="mt-5">
            <% if @user.id != current_user.id %>
              <%= render "users/follow_btn", user: @user %>
            <% end %>
          </div>
        </div>
        <div class="col-2">
          <% if @user.id == current_user.id %>
            <%= link_to edit_user_path(@user) do %>
              <i class="fas fa-user-edit user-edit-icon"><span class="tags">編集</span></i>
            <% end %>
          <% end %>
        </div>
        <div class="col-12 flame">
          <span class="flame-title tags">
            紹介文
          </span>
          <div class="profile">
            <%= @user.profile %>
          </div>
        </div>
        <div class="col-3 flame-sub mt-1">
          <span class="flame-title tags">
            ランク帯
          </span>
          <div class="text-center">
            <%= @user.rank %>
          </div>
        </div>
        <div class="col-2 mt-1 flame-sub">
          <span class="flame-title tags">
            K/D
          </span>
          <div class="text-center">
            <%= @user.ratio %>
          </div>
        </div>
        <div class="col-7"></div>
        <h3 class="col-12 mt-3"><span class="tags ml-2">ツイート</span></h3>
          <% @tweets.each do |tweet| %>
            <div class="col-2 mt-4">
              <%= attachment_image_tag tweet.user, :profile_image, size: "100x100",fallback: "no_image.jpg", class:"effect" %>
            </div>
            <div class="col-6 mt-4">
              <%= tweet.user.name %>
              <div class="mt-3">
                <%= tweet.body %>
              </div>
              <div class="mt-2">
                <%= attachment_image_tag tweet, :image, size: "540x250", style: "border-radius: 8px;" %>
              </div>
            </div>
            <div class="tweet-created_at mt-4">
              <%= tweet.created_at.strftime("%Y年%m月%d日 %H:%M") %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div