<div class="container">
  <div class='row justify-content-center'>
    <div class="user-show"><%= @user.name %></div>
  </div>
  <div class="row">
    <div class="chat-back mt-3">
    <% @chats.each do |chat| %>
      <% if chat.user != current_user %>
        <span class="col-1 chat-table chat-user"><%= attachment_image_tag @chat.user, :profile_image, size: "50x50",fallback: "guest-icon.jpg", class: "effect" %></span>
        <span class="col-9 mt-3 balloon"><%= chat.message %></span>
        <div class="col-2"></div>
      <% else %>
        <div class="chat-current-user mt-3 mr-3"><span class="col-10 chat-balloon"><%= chat.message %></span></div>
      <% end %>
    <% end %>
    <%= form_with model: @chat do |f| %>
      <div class="form-group mt-5 col-10 mx-auto">
        <%= f.text_field :message, class: "form-control" %>
      </div>
        <%= f.hidden_field :room_id %>
      <div class="form-group mt-5 col-3 mx-auto">
        <%= f.submit '送信する', class: "btn btn-block btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
